#basket-root .basket-items-list-item-amount{
    min-width: 170px;
}

#basket-root .basket-items-list-item-price-for-one{
    min-width: 120px;
}
#basket-root .basket-items-list-item-price{
    min-width: 120px;
}

#basket-root .basket-checkout-block.basket-checkout-block-total-price{
    min-width: 170px;
}
#basket-root .basket-checkout-block.basket-checkout-block-total{
    min-width: 150px;
}